{%extends 'base.html'%}
{%load crispy_forms_tags%}
{%load filename%}
{%block jumbotron%}
{%load staticfiles%}
    <style>
    #id_state{
        display: inline;
        list-style-type: none;
        padding-right: 20px;
    }
    #id_question{
        width: 300px;
        height: 100px;
    }
    </style>
  <script>
     function readQuestion(quest_id,question,option_a,option_b,option_c,option_d,option_correct,img_path){
         var id=document.getElementById('id');
         var quest=document.getElementById('id_question');
         var a= document.getElementById('id_option_a');
         var b= document.getElementById('id_option_b');
         var c= document.getElementById('id_option_c');
         var d= document.getElementById('id_option_d');
         var correct= document.getElementById(option_correct).checked=true;
         var image = document.getElementById('image');
         var img=document.createElement('img');
         var file_link = document.getElementById('link');
         var link = document.createElement('a');
         var t = document.createTextNode("Chat File Link");
         link.href={{MEDIA_URL}}+'/uploads/chats/'+quest_id+".txt"
         link.target='_blank'
         link.appendChild(t)
         file_link.appendChild(link);
         img.src=img_path;
         img.width='500';
         img.height='508';
         img.alt='question_image_not_exits';
         image.appendChild(img);
         quest.value=question;
         a.value=option_a;
         b.value=option_b;
         c.value=option_c;
         d.value=option_d;
         id.value=quest_id;
        //$('input[name="' +'id_option_correct' + '"]').val([option_correct]).setProperty('checked',true);

     }
  </script>
  <div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-2">

      {% if ques %}
        {%if user.is_superuser%}
          <b>Question{{ques.id}}</b> has posted!<form method="post" action="{%url 'delete_post'%}">
          {% csrf_token %}
          <input type="hidden" name="quest_id" value={{ques.id}}>
          <input type='submit' value='Remove'>
          </form>
        
        {%else%}
          {% if user.is_authenticated %}
          <form action ="" method = "POST">{%csrf_token%}
            <b>Question:</b>{{ques.question}}<br>
            <img src="{{ques.image.url}}" width='500' height='500'><br>
            <input type="hidden" name="question_id" value="{{ ques.id }}">
            <input type="hidden" name="number_of_times" value="{{number_of_times}}">
            <input type="radio" name="options"  value="0">{{ ques.option_a }}<br>
            <input type="radio" name="options" value="1">{{ ques.option_b }}<br>
            <input type="radio" name="options" value="2">{{ ques.option_c }}<br>
            <input type="radio" name="options" value="3">{{ ques.option_d }}<br>
            <input type="submit" value="Submit">
          </form>
          {%endif%}
        {%endif%}
      {% else %}
          {{ submission }}
      {% endif %}


  </div>
  <div class="col-md-2"></div>

  <div class="col-md-6">
      {% if user.is_superuser %}
      <div class="panel panel-default">
        <div class="panel-heading">

            Uploaded Questions
        </div>
        <div class="panel-body ">
          <ol style="list-style-type:none">
            {% if uploaded %}
                <form method="post" id='edit_form' action="{% url 'edit' %}">{% csrf_token %}</form>
                <form method="post" id='delete_form' action="{% url 'delete' %}">{% csrf_token %}</form>
                <form method="post" id='post_form' action="{% url 'publish' %}">{% csrf_token %}</form>
                <form method="post" id='repost_form' action="{% url 're_publish' %}">{% csrf_token %}</form>
                {% for quest in uploaded %}

                  <li>{{  quest.question }}
                      <input  type="button" name="edit"
                              onclick="readQuestion('{{ quest.id }}','{{ quest.question }}','{{ quest.option_a }}','{{ quest.option_b }}','{{ quest.option_c }}','{{ quest.option_d }}','{{ quest.option_correct }}','{{quest.image.url}}')" value="Edit"/>
                      <input form='delete_form' type="hidden" value="{{ quest.id }}" name="quest_id"/>
                      <input form='post_form' type="hidden" value="{{ quest.id }}" name="quest_id"/>
                      <input form='repost_form' type="hidden" value="{{ quest.id }}" name="quest_id"/>
  
                      <input form='delete_form' type="submit" name="delete" value="delete">
                      <input form='post_form' type="submit" name="post" value="Post">
                      <input form='repost_form' type="submit" name="repost" value="Repost">
                  </li>
                    </form>
                {% endfor %}
            {% endif %}
          </ol>
        </div>
      </div>
      {%endif%}
  </div>
</div>
{% if user.is_superuser %}
<div class="row">
  <div class="col-md-2">
  </div>  
  <div class="col-md-4">

     <form enctype="multipart/form-data" action ="" method = "POST" >{%csrf_token%}

      Question<br>
      {{ form.question }}<br>
      {{ form.image }}<br>
      <input type="hidden" name="id" id='id' value="0">
      Option_a{{ form.option_a }}<input type="radio" class='radio_1' name="correct" value="0" id="0"checked>
      <br>
      Option_b{{ form.option_b }}<input type="radio" class='radio_1'  name="correct" value="1" id="1"><br>
      Option_c{{ form.option_c }}<input type="radio" class='radio_1'  name="correct" value="2" id="2"><br>
      Option_d{{ form.option_d }}<input type="radio" class='radio_1'  name="correct" value="3" id="3"><br>
      
      <input type="submit" value="Submit">
     </form>
     <div id="link"></div>
  </div>
  <div class="col-md-6">
    <div id="image" ></div>
  </div> 
</div>
{% endif %}
{% endblock %}